In [1]:
import pandas as pd
import json
from tqdm import tqdm

In [2]:
def parse_and_expand(df):
    result = pd.DataFrame()

    for i, row in tqdm(df.iterrows(), total=df.shape[0]):
        occupation_data = json.loads(row['occupation']) if pd.notna(row['occupation']) and row['occupation'] else {}
        personal_data = json.loads(row['personal']) if pd.notna(row['personal']) and row['personal'] else {}
        new_row = pd.Series()
        for key, value in occupation_data.items():
            new_row[f"occupation_{key}"] = value

        for key, value in personal_data.items():
            new_row[f"personal_{key}"] = value

        result = result._append(new_row, ignore_index=True)

    return result

In [3]:
df = pd.read_csv('shaman_focus_group.csv', sep=';')
expanded_df = parse_and_expand(df)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 98108/98108 [05:20<00:00, 306.51it/s]

In [9]:
str = 'occupation_id,occupation_name,occupation_type,personal_langs,personal_alcohol,personal_smoking,personal_life_main,personal_langs_full,personal_inspired_by,personal_people_main,personal_political,occupation_city_id,occupation_country_id,occupation_graduate_year,personal_religion,personal_religion_id'
str = str.split(',')
for i in str:
    expanded_df[i] = expanded_df[i].replace('', '-').fillna('-')
    
df = pd.concat([df, expanded_df], axis=1)

In [10]:
df

,owner_id,fio,first_name,last_name,deactivated,is_closed,about,activities,birthday,b_day,...,personal_life_main,personal_langs_full,personal_inspired_by,personal_people_main,personal_political,occupation_city_id,occupation_country_id,occupation_graduate_year,personal_religion,personal_religion_id
0,427635662,NaN,Sergey,Sokol,NaN,0,NaN,NaN,NaN,2,...,0.0,"[{'id': 0, 'native_name': 'Русский'}, {'id': 1...",-,0.0,-,-,-,-,-,-
1,428107262,NaN,Алексей,Дыбенко,NaN,0,NaN,NaN,NaN,5,...,0.0,-,-,0.0,-,-,-,-,-,-
2,428376362,NaN,Екатерина,Губайдуллина,NaN,0,NaN,NaN,NaN,7,...,-,-,-,-,-,-,-,-,-,-
3,429385562,NaN,Эдуард,Казымов,NaN,0,NaN,NaN,NaN,19,...,-,-,-,-,-,-,-,-,-,-
4,429576362,NaN,Юлия,Здорнова,NaN,0,NaN,Активно увлекаюсь Таро,NaN,4,...,6.0,"[{'id': 0, 'native_name': 'Русский'}]",Искусство,2.0,2.0,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98103,19432965,NaN,Светлана,Зеленкова,NaN,0,NaN,керамист,NaN,29,...,0.0,-,-,0.0,-,-,-,-,-,-
98104,19459065,NaN,Юлия,Лисакова,NaN,0,"Мне не хочется видеть грязь,\nМне не хочется в...",Ветеринар,NaN,16,...,0.0,-,-,0.0,-,41.0,1.0,2011.0,Православие,102.0
98105,19819065,NaN,Юлия,Парфёнова,NaN,0,NaN,NaN,NaN,23,...,-,-,-,-,-,-,-,-,-,-
98106,20007165,NaN,Денис,Батуровский,NaN,0,NaN,NaN,NaN,7,...,-,"[{'id': 0, 'native_name': 'Русский'}, {'id': 1...",-,-,-,1.0,1.0,2017.0,-,-
98107,20189865,NaN,Дмитрий,Махов,NaN,0,NaN,NaN,NaN,2,...,-,-,-,-,-,-,-,-,-,-

In [11]:
df.to_csv('expanded_df.csv', index=False)

print(expanded_df)

      occupation_id                                    occupation_name  \
0       202005785.0                                  Крымское собрание
1                 -                                               Нету
2                 -                                                  -
3                 -                                                  -
4       190921941.0                               Стихи волнующие душу
...             ...                                                ...
98103   211328171.0     КЕРАМИКА/ВКУСНАЯ КЕРАМИКА  lado ceramics Пенза
98104         442.0                               ВГМХА им. Верещагина
98105   203460511.0                   Разрез «Барзасское товарищество»
98106          92.0  РАНХиГС при Президенте РФ (АНХ при Правительст...
98107     1619311.0    Всероссийский конкурс «Моя страна – моя Россия»

      occupation_type         personal_langs personal_alcohol  \
0                work  [Русский, Українська]              0.0
1                work                      -              0.0
2                   -                      -                -
3                   -                      -                -
4                work              [Русский]              0.0
...               ...                    ...              ...
98103            work                      -              0.0
98104      university                      -              0.0
98105            work                      -                -
98106      university  [Русский, Українська]                -
98107            work                      -                -

      personal_smoking personal_life_main  \
0                  0.0                0.0
1                  0.0                0.0
2                    -                  -
3                    -                  -
4                  1.0                6.0
...                ...                ...
98103              0.0                0.0
98104              0.0                0.0
98105                -                  -
98106                -                  -
98107                -                  -

                                     personal_langs_full personal_inspired_by  \
0      [{'id': 0, 'native_name': 'Русский'}, {'id': 1...                    -
1                                                      -                    -
2                                                      -                    -
3                                                      -                    -
4                  [{'id': 0, 'native_name': 'Русский'}]            Искусство
...                                                  ...                  ...
98103                                                  -                    -
98104                                                  -                    -
98105                                                  -                    -
98106  [{'id': 0, 'native_name': 'Русский'}, {'id': 1...                    -
98107                                                  -                    -

      personal_people_main personal_political occupation_city_id  \
0                      0.0                  -                  -
1                      0.0                  -                  -
2                        -                  -                  -
3                        -                  -                  -
4                      2.0                2.0                  -
...                    ...                ...                ...
98103                  0.0                  -                  -
98104                  0.0                  -               41.0
98105                    -                  -                  -
98106                    -                  -                1.0
98107                    -                  -                  -

      occupation_country_id occupation_graduate_year personal_religion  \
0                         -                        -                 -
1                         -                        -                 -
2                         -                        -                 -
3                         -                        -                 -
4                         -                        -                 -
...                     ...                      ...               ...
98103                     -                        -                 -
98104                   1.0                   2011.0       Православие
98105                     -                        -                 -
98106                   1.0                   2017.0                 -
98107                     -                        -                 -

      personal_religion_id
0                        -
1                        -
2                        -
3                        -
4                        -
...                    ...
98103                    -
98104                102.0
98105                    -
98106                    -
98107                    -

[98108 rows x 16 columns]

In [14]:
df.shape[1]

100

In [15]:
df1.shape[1]

52